<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Influential Women Index</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-custom.css" rel="stylesheet">
</head>
<body>
	<div class='container content'>
		<div class='row header text-center h2'>
			The Influential Women Index
		</div>
		<div class='row col-centered' >
			<div class='col-lg-12' >
				<p class='intro_text'>
					{% if longintro %}
								The goal of this project is to elevate the status of women by highlighting the accomplishments of influential women in the past.  All too often, the accomplishments of women are underemphasized so the goal of this project is to find women who are influential in any field, no matter what it is.  To get started, paste the url of any article into the search bar below and we will try to find relevant articles.
					{% else %}
								Below are the results we've found.  If you'd like to do another search, post the url of the article in the box below and we will find more.
					{% endif %}
				</p>
			</div>
		</div>
		<div class='row'>
			<div class='searchform' >
				<form action='/search' method='get'>
					<div class='col-lg-10'>
						<input type='text' name='query' />
					</div>
					<div class='col-lg-2'>
						<input type='submit' value='search' />
					</div>
				</form>
			</div>
		</div>
		{% if showresults %}
			<div class='row'>
				<div class='results col-lg-11'>
					{% if results %}
						{% for result in results %}
							<a href='{{ result.url }}' ><h1>{{ result.title }}</h1></a>
							{{ result.summary }}
						{% endfor %}
					{% else %}
						No results found.  Try a different search.
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
